ion-card{
    box-shadow: none !important;
}

.content{
  width: 100% !important; 
  height: 150px !important;
  background-color: black !important;
  display: flex
}

.menu{
    font-size: 10px;
}


ion-card{
    background-color: black;
    border-radius: 10%;
    height: 125px;
    width: 60%;
}

.image{
    width: 100%;
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 0.3cm;
  }

  .bottom {
    position: absolute;
    bottom: 5%;
    color: white;
    left: 20%;
    font-size: 0.3cm;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
  ion-toolbar{
    border-bottom-left-radius:20px !important;
    border-bottom-right-radius:20px !important
  }

  .menu{
    background-color: black !important;
    border-bottom-left-radius:20px !important;
    border-bottom-right-radius:20px !important;
    border-top-left-radius:20px !important;
    border-top-right-radius:20px !important;
  }

  .menu-title{
    color: var(--ion-color-primary);
  }

  .nivel{
    color: var(  --ion-color-tertiary);
    font-weight: 300 !important;
   // font-size: 0.4cm;
  }

  .displayName{
    font-weight: 600;
    //font-size: 0.6cm;
  }

  .ion-icon {
    border-radius: 50%;
    border: 1px solid red;
  }

  ion-list,ion-item, ion-slides, ion-slide{
    background-color:black !important;
  }

  .item{
    --padding-end: 0px;
    --inner-padding-end: 0px;
    // here other custom CSS from documentation
  }

.carousel-cell{
 // height: 150px !important;
  border-radius: 20% !important;
}

carousel{
  background-color: black !important;
}