<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none" style="text-align: center;" class="ion-no-padding">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> <img style="padding-top: 2px;" width="70px" height="20px" src="./../../../../assets/images/logo.png">
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon style="font-size: 0.4cm !important " slot="icon-only" color="primary" name="notifications">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="./../../../../assets/images/user.jpg">
      </ion-avatar>
      <ion-label class="displayName">Lucas Dias <p class="nivel">nivel roxo</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" >
      <ion-grid >
        <ion-row style="font-size: 10px; text-align: center !important; vertical-align: middle;" >
          <ion-col  size="1"> </ion-col>
          <ion-col class="menu" size="10">
            <span class="menu-title">
              <ion-icon   name="body"></ion-icon>
              MEU CORPO
            </span>
            <span  class="menu-title" style="padding-left: 5px;">
              <ion-icon name="trophy"></ion-icon>
              OBJETIVO E CONQUITAS
            </span>
          </ion-col> <ion-col  size="1">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf>
    <ion-row>
      <h3>Personal online</h3>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card>
            <img class="image" src="./../../../../assets/images/image1.jpg">
            <ion-label class="centered">
              <ion-icon name="add-circle-outline"></ion-icon>
              Novo Treino
            </ion-label>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>