<ion-header class="ion-no-border">

  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Lucas Dias <p>nivel roxo</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>


  <ion-toolbar>
    <ion-item lines="none">
      <ion-grid class="menu">
        <ion-row style="text-align: center;">
          <ion-col>
            <ion-icon name="body-outline"></ion-icon>MEU CORPO
          </ion-col>
          <ion-col>
            <ion-icon name="trophy-outline"></ion-icon>OBJETIVOS E CONQUISTAS
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h3>Personal online</h3>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card>
            <img class="image" src="./../../../../assets/images/image1.jpg">
            
            <ion-label class="centered">
              <ion-icon name="add-circle-outline"></ion-icon>
              Novo Treino</ion-label>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <h3>Programas</h3>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card>
            <img class="image" src="./../../../../assets/images/image1.jpg">
            
            <ion-label class="centered">
              <ion-icon name="add-circle-outline"></ion-icon>
              Novo Treino</ion-label>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <h3>Conteúdos</h3>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

</ion-content>